# YOLOv5 requirements
# Usage: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib==3.5.2
numpy==1.21.6
opencv-python==4.1.2.30
# opencv-contrib-python==4.1.2.30
Pillow==9.2.0
PyYAML==6.0
requests==2.28.1
scipy==1.7.3  # Google Colab version
torch==1.11.0  # https://github.com/ultralytics/yolov5/issues/8395
torchvision==0.12.0 # https://github.com/ultralytics/yolov5/issues/8395
tqdm==4.64.0
protobuf==3.19.4  # https://github.com/ultralytics/yolov5/issues/8012

# Logging -------------------------------------
tensorboard==2.9.1
# wandb

# Plotting ------------------------------------
pandas==1.3.5
seaborn==0.11.2

# Export --------------------------------------
# coremltools>=4.1  # CoreML export
onnx==1.12.0  # ONNX export
onnx-simplifier==0.4.0  # ONNX simplifier
# scikit-learn==0.19.2  # CoreML quantization
# tensorflow>=2.4.1  # TFLite export
# tensorflowjs>=3.9.0  # TF.js export
# openvino-dev  # OpenVINO export

# Extras --------------------------------------
ipython==7.34.0  # interactive notebook
psutil==5.9.1  # system utilization
thop  # FLOPs computation
# albumentations>=1.0.3
# pycocotools>=2.0  # COCO mAP
# roboflow
